/* General page styling */
body {
    font-family: "JetBrains Mono Medium", sans-serif;
    background-color: #dfdfdf;
    color: #121212;
    margin: 0;
    padding: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table headers */
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Table data cells */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}


@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th {
        display: none;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        flex-basis: 50%;
    }
}
